<div class="container">
  <h1>Player 1 vs Player 2</h1>
  <form class="race_info" method="post" action="/race">
    <input type="text" name="player1" placeholder="Player1 Name">
    <input type="text" name="player2" placeholder="Player2 Name">
    <input type="submit" value="Race!">
  </form>

</div>
